{% extends "layout.html" %}

{% block conteudo %}
  <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/variables.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/media.css" />
<!-- Banner -->
    <section class="banner">
      <div class="banner__content">
        <h1 class="banner__title">
          Code & <span class="banner__title--highlight">Flavor</span>
        </h1>
        <p class="banner__subtitle">
          O melhor hambúrguer da cidade compilado para você.
        </p>
      </div>
    </section>

<button class="button-logout"><a href="/logout">Sair da Conta</a></button>

<!-- Escolha Rápida  -->
    <section class="categories">
      <div class="categories__container">
        <h2 class="categories__title">Nossos Destaques</h2>

        <div class="categories__list">
          {% for lanche in destaque: %}
          <div class="category-item">
            <img
              src="{{lanche.foto}}"
              alt="{{lanche.produto}}"
              class="category-item__img"
            />
            <a href="#lanche-{{lanche.codigo}}" class="button button--small">EU QUERO</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

<!-- Produtos do Menu -->
    <section class="products" id="menu">
      <div class="products__container">
        <h2 class="products__title">Cardápio</h2>

        <div class="products__grid">
          {% for lanche in lanches: %}
          <article class="card" id="lanche-{{lanche.codigo}}">
            <div class="card__image-wrapper">
              <img
                src="{{lanche.foto}}"
                alt="{{lanche.produto}}"
                class="card__image"
              />
            </div>
            <div class="card__body">
              <h3 class="card__title">{{lanche.produto}}</h3>
              <p class="card__description">
                {{lanche.descricao}}
              </p>
              <div class="card__footer">
                <span class="card__price">R$ {{lanche.preco}}0</span>
                <a href="/unit/{{lanche.codigo}}" class="button button--small">Comprar</a>
              </div>
            </div>
          </article>

          {% endfor %}
        </div>

        <div>
          <a href="#menu" class="button button--primary">Voltar para Destaques</a
          >
        </div>
      </div>
    </section>

{% endblock %}